.title {
  margin: 20px 0;
  text-align: center;
}

.food-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 210px;
  flex-direction: column;
}

.choose-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.homepage-wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homepage-wrapper:before {
  background-image: url("https://assets.epicurious.com/photos/576052ffff66dde1456dfeaa/2:1/w_1260%2Ch_630/Green-Olive-Tapenade---Shutterstock.jpg");

  background-size: cover;
  height: 30vh;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.food-icons img {
  width: 30px;
}

h1 {
  color: #dcb14e;
  font-weight: bold;
}

.carousel-caption {
  background: #779955e0;
}
