.ingredients-form,
.instructions-form {
  background: white;
  margin-bottom: 20px;
}

.recipe-edit-container {
  margin: 20px;
}

img {
  width: 100%;
}

.ingredients-instructions {
  background-color: white;
  padding: 10px;
}

.recipe-edit {
  margin: 40px;
}

.recipe-header {
  background-color: white;
  padding-left: 20px;
}

.recipe-header h1 {
  color: #dcb14e;
}
