.ingredients-form,
.instructions-form {
  background: white;
  margin-bottom: 20px;
}

.recipe-edit-container {
  margin: 20px;
}

img {
  width: 100%;
}

.ingredients-instructions {
  background-color: white;
  padding: 10px;
}

.recipe-edit {
  margin: 40px;
}

.recipe-edit-container {
  background-color: white;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.recipe-header {
  padding-left: 20px;
}

.recipe-header h1 {
  color: #dcb14e;
}

.recipe-description {
  text-align: center;
  margin-top: 10px;
}
