.recipe-form {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.recipe-form form {
  background: white;
}

.recipe-form-container h1 {
  margin-top: 20px;
  color: rgb(220, 177, 78);
}
