.recipe-card {
  margin: 0 10px;
}

.tip-form form {
  display: flex;
}

.tips,
.tip-form {
  margin: 10px 20px;
}

.recipe-info {
  margin: 10px;
}

.icon {
  color: #dcb14e;
  margin-right: 5px;
}

.number-step {
  color: #795;
  font-weight: bold;
  margin-right: 5px;
}
